<% if @presents.empty? %>
  <div class="title">
    The giftee has no presents registered yet!
  </div>
<% else %>
  <div class="title">
    Presents the giftees has registered:
  </div>
  <section class="section">
    <%= render partial: "shared/presents_list", locals: { presents: @presents} %>
  </section>
<% end %>
