<div>
  <% if @presents.empty? %>
    You don't have any registered presents yet!
  <% else %>
    Presents from all the giftees that you have registered:
    <%= render partial: "shared/presents_list", locals: { presents: @presents} %>
  <% end %>
</div>
