<% @occasions.each do |occasion| %>
  <div class="box">
    <section class="section">
      <div class="title"><%= link_to occasion.name, occasion_path(occasion), class: "has-text-black" %></div>
      <% @gifters.each do |gifter| %>
        <% if occasion.gifters.include?(gifter) %>
          <% gifter.giftees.each_slice(2) do |giftees| %>
            <div class="tile is-ancestor">
              <% giftees.each do |giftee| %>
                <div class="tile is-parent is-6">
                  <div class="tile is-child box">
                    <div class="title">
                      <%= link_to giftee.name, occasion_giftee_path(occasion, giftee), class: "has-text-black" %>
                    </div>
                    <% if giftee.presents.any? %>
                      <%= link_to "Go to wishlist", occasion_giftee_path(occasion, giftee), class: "has-text-black" %>
                      <div class="subtitle">
                        <% if presents_reserved_by_gifter_for_giftee(giftee).any? %>
                          You decided to buy these presents:
                          <% presents_reserved_by_gifter_for_giftee(giftee).each do |pt| %>
                            <%= link_to pt.name, present_path(pt), class: "has-text-primary" %>
                          <% end %>
                        <% else %>
                          You haven't reserved any presents to buy yet.
                        <% end %>
                      </div>
                    <% else %>
                      Giftee has not registered any presents yet!
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </section>
  </div>
<% end %>

