<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi <%= @gifter.name %>,</h1>
<p>
  You have just drawn a new giftee for <%= @occasion.name %>!
  You're going to be giving presents to <%= @giftee.name %>.
  See their wishlist <%= link_to "here", occasion_giftee_url(@occasion, @giftee) %>.
</p>
</body>
</html>