<div class="level">
  <div class="level-item">
    <%= render "form" %>
  </div>
</div>
<div class="level">
  <div class="level-item">
    <%= link_to "Back", occasions_path, class: "button is-black" %>
  </div>
</div>